body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}
.container {
  width: 85%;
  margin: 0 auto;
}
h1 {
  font-size: 39px;
  color: #333;
}
li {
  font-weight: 300;
  font-size: 20px;
}
li:nth-child(even) {
  color: #c000c0;
}
.section {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.box {
  width: 450px;
  margin-top: 50px;
  padding: 10px 20px;
  border: 1px solid #333;
  border-radius: 10px;
}
